.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px; /* Aumentamos el padding para más espacio visual */
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  background-color: #f8f9fa;
}

/* Estilos para los botones */
.btn {
  padding: 10px 20px; /* Ajustamos el padding para que los botones se destaquen más */
  margin-right: 10px; /* Reducimos un poco el margen */
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px; /* Agregamos bordes redondeados */
}

.btn-danger {
  background-color: #ff5252; /* Rojo más suave */
  color: white;
  border: 1px solid #ff5252;
}

.btn-primary {
  background-color: #2196f3; /* Azul más intenso */
  color: white;
  border: 1px solid #2196f3;
}

.btn-outline-primary {
  color: #2196f3;
  border: 1px solid #2196f3;
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: #2196f3;
  color: white;
}
